*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;    
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: lightblue;
}
h2{
    font-size: 30px;
    font-family: cursive;
}
#box{
    height: 55%;
    width: 50%;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);

}

button{
    border-radius: 20px;
    padding: 20px 30px;
    font-size: 30px;
    background-color: rgb(173, 219, 117);
    border-radius: none;
    font-family: cursive;
}
button:active{
    background-color: skyblue;
    scale: 0.9;
}